                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>About Us</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                        </div>
                        {% partial "about/intro" %}
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            {% partial "about/skills" %}
                        </div>
                        <div class="col-md-6">
                            {% partial "about/tabs" %}
                        </div>
                    </div>
                </div>
