                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Exclusive News</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            {% partial "news/blog-01" %}
                        </div>
                        <div class="col-md-6">
                            {% partial "news/blog-02" %}
                        </div>
                        <div class="col-md-6">
                            {% partial "news/blog-03" %}
                        </div>
                        <div class="col-md-6">
                            {% partial "news/blog-04" %}
                        </div>
                        
                    </div>
                </div>
